.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 5rem;
    margin: 0;
    transform: rotate(180deg);
  }

  p {
    font-size: 1rem;
  }
}